button {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button svg {
    stroke-width: 2px;
    stroke: #000;
    fill: transparent;
    transition: fill 0.2s ease-in-out;
  }
  
  button.clicked svg {
    fill: #ff1d1d;
  }
  